.main-container {
  display: flex;
  justify-content: space-between; /* Adjust to space elements evenly */
  padding: 20px;
}

.left-container {
  width: 45%; /* Adjust the width as needed */
  padding: 20px;
  background-color: #f0f0f0; /* Optional: Add a background color for better visibility */
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Distribute space between items */
}

.left-button {
  align-self: flex-end; /* Align the button to the end */
}

.right-container {
  width: 45%; /* Adjust the width as needed */
  display: flex;
  justify-content: flex-end;
}

.calendar-wrapper {
  width: 100%;
}

.form-container {
  text-align: center;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  height: 100px;
}

.modal-dialog {
  max-width: 400px;
}

.modal-body {
  text-align: center;
}

.modal-title {
  text-align: center;
}

.rs-calendar-table-cell-disabled .rs-calendar-table-cell-date {
  color: gray !important;
  cursor: not-allowed !important;
  text-decoration: line-through;
}
